<h2>Edit <%= resource_name.to_s.humanize %></h2>
<%= render "devise/shared/error_messages", resource: resource %>

<%= form_for(resource, url: user_registration_url, html: { method: :put }) do |f| %>


  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", style:"border: 1px solid #343a40 !important;" %>
  </div>

  <div class="field">
    <%= f.label :time_zone %><br />
    <%= f.time_zone_select :time_zone, nil, {}, default: ActiveSupport::TimeZone.country_zones('py').map(&:to_s).first, :prompt => "Select Time Zone", :class => "form-control" %>
  </div>

  <div class="field">
    <%= f.label :country_code %><br />
    <%= f.country_select( :country_code,{}, priority_countries: ["PY", "AR"], priority_countries_divider: "~~~~~~", class:"form-select", style:"border: 1px solid #343a40 !important;") %>
  </div>

  <div class="field">
    <%= f.label :game_uid %><br />
    <%= f.text_field :game_uid, autofocus: true, autocomplete: "uid", class:"form-control", style:"border: 1px solid #343a40 !important;" %>
  </div>

  <div class="field">
    <%= f.label :codnickname %><br />
    <%= f.text_field :codnickname, autofocus: true, autocomplete: "nickname", class:"form-control", style:"border: 1px solid #343a40 !important;" %>
  </div>

  <div class="field">
    <%= f.label :cellphone %><br />
    <%= f.text_field :cellphone, autofocus: true, autocomplete: "cellphone", class:"form-control", style:"border: 1px solid #343a40 !important;" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <br><br>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password", class:"form-control", style:"border: 1px solid #343a40 !important;" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control", style:"border: 1px solid #343a40 !important;" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password", class:"form-control", style:"border: 1px solid #343a40 !important;" %>
  </div>
  <br><br>
  <div class="actions">
    <%= f.submit "Update", class:"btn btn-outline-info m-2" %>
  </div>
<% end %>
<br><br><br>
<h3>Cancel my account</h3>

<p>Unhappy?<%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:"btn btn-outline-warning m-2" %></p>

<%= link_to "Back", :back %>
