<h2>Registrations</h2>
<% @resources.each do |resource| %>
  <div><%= resource.id %></div>
  <div><%= resource.tournament.id %></div>
  <div><%= resource.tournament.name %></div>
  <div><%= resource.tournament.game_mode %></div>
  <div><%= resource.tournament.team_members %></div>
  <hr>
  <br>
<% end %>
