<h2><%= "#{t('devise.sessions.log_in')} como #{request.path.split("/")[1].humanize.singularize}" %></h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: false }) do |f| %>
  <div class="field col-12 col-md-6 col-lg-4">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", style:"border: 1px solid #343a40 !important;" %>
  </div>

  <div class="field col-12 col-md-6 col-lg-4">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password", class:"form-control", style:"border: 1px solid #343a40 !important;" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field my-3">
      <%= f.check_box :remember_me, class:"form-check-input", style:"border: 1px solid #343a40 !important;" %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions mt-2 mb-4">
    <%= f.submit t('devise.sessions.log_in'), class: "btn btn-primary" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
