<!DOCTYPE html>
<html>
  <head>
    <title>OnlineTournamentsManager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://npmcdn.com/flatpickr/dist/flatpickr.min.js"></script>
    <script src="https://npmcdn.com/flatpickr/dist/l10n/es.js"></script>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div>
      <%= render "layouts/shared/navbar" %>
    </div>
    <%= render "layouts/shared/flash_messages" if flash.any? %>
    <div class="container-fluid">
      <%= yield %>
    </div>
  </body>
</html>
